body {
  font-family: arial, sans-serif;
  margin: 0 auto;
  width: 600px;
}

h1 {
  font-size: 3em;
  margin: 0.2em 1em;
}
h2 {
  text-align: center;
  margin: 0.1em;
}
h3 {
  display: inline-block;
  text-align: left;
}
.nought, 
.cross {
  background: pink;
  cursor: pointer;
  display: inline-block;
  font-family: fantasy;
  font-size: 2em;
  font-weight: 500;
  line-height: 2em;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 49%;
}
.board {
  position: relative;
}
.board li {
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #999999;
  border: 1px solid white;
  color: #999999;
  cursor: pointer;
  display: inline-block;
  font-family: fantasy;
  font-size: 5em;
  height: 100px;
  text-align: center;
  width: 33.3%;
}

.sides {
  margin: 1em auto 3em auto;
  text-align: center;
  width: 300px;
}

.btn {
  display: block;
  padding: 0.5em;
  margin: 1em auto;
  font-size: 1.2em;
  float: left;
}

input[type="checkbox"] {
  font-size: 10em;
  margin: 0;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 300px;
}

.addcolor {
  color: #000 !important;
}

.firstPlayer:before {
  content: 'First Player';
  font-size: 0.5em;
  position: absolute;
  bottom: -23px;
  left: 28%;
}

.secondPlayer:before {
  content: 'Second Player';
  font-size: 0.3em;
  position: absolute;
  bottom: -30px;
}

.gameover {
  position: absolute;
  color: rgba(255, 0, 0, 0.75);
  font-size: 2em;
  z-index: 1;
  right: -50%;
  left: 6%;
  top: -13%;
  font-family: fantasy;
}


.hide {
  display: none;
}